<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="logImpl" value="LOG4J" />
    </settings>
    <!--<typeAliases>-->
        <!--<typeAlias type="com.app.frame.util.PageData" alias="pd" />-->
    <!--</typeAliases>-->
    <!--<plugins>-->
        <!--<plugin interceptor="com.app.frame.plugin.PagePlugin4SpringBoot">-->
            <!--<property name="dialect" value="mysql" />-->
            <!--<property name="pageSqlId" value=".*ByPage" />-->
        <!--</plugin>-->
    <!--</plugins>-->
    <mappers></mappers>
</configuration>